.vs/
AdminPanel/bin/
AdminPanel/obj/
AdminPanel/appsettings.json
AdminPanel/appsettings.Development.json

React.Web/bin/
React.Web/obj/
React.Web/appsettings.json
React.Web/appsettings.Development.json

React.Web/appsettings.Development.json

DAL/obj/
Entities/obj/
Helpers/obj/

